.myPublications{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 1%;
    border: 2% black solid;
}

.iconUser{
    width: 5%;
}

.user{
    margin-left: 1%;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.like{
    background-color: greenyellow;
    font-weight: bold;
    border-radius: 50%;
    width: 5%;
}

.dislike{
    background-color: red;
    font-weight: bold;
    border-radius: 50%;
    width: 8%;
}

.body{
    border: 2px solid;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    overflow: scroll;
}