.title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: darkslategrey;
}

.buttonMenu{
	background:linear-gradient(to bottom, orangered 5%, orangered 100%);
	background-color: orangered;
	border-radius:6px;
	display:inline-block;
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-size:1em;
	font-weight:bold;
	margin-left: 1%;
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	transform: rotate(-180deg);
	width: 2%;
}

.user{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: 20%;
	margin-top: 1%;
}

.iconUser{
	width: 10%;
}

.name{
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 2em;
}