<app-cabecera></app-cabecera>

<main class="body">
        <section class="title">
            <p>Mis Historias</p>
        </section>
        <p class="user">Javier Herrero</p>
        <section class="myPublications">
                <img src="../assets/user.png" class="iconUser">
                <p>Esta es la primera Publicación de este usuario</p>
        </section>
        <section class="button">
            <button type="button" class="like">Like</button>
            <button type="button" class="dislike">Dislike</button>
        </section>
</main>